{% extends "layout.html.twig" %}

{% block title %}QuoteDico - Home{% endblock %}

{% block hea %}
  <p>QuoteDico
   <p>receuil de citations libre que chacun peut ameliorer</p>
{% endblock %}

{% block content %}

<article>
    <h2> Liste des citations de {{ author.fullName }} </h2>

{% for quote in quotes %}
    <p><blockquote>

    {{ quote.summary }}<br>

      </blockquote>
    </p>
{% endfor %}
</article>

{% endblock %}
