{% extends "layout.html.twig" %}

{% block title %} QuoteDico - Home {% endblock %}

{% block jumbotron %}

{% endblock %}

{% block content %}
  <h2 class="text-center">Remerciements</h2>

  
{% endblock %}
